//
//  Config-SideloadDebug.xcconfig
//  ManicEmu
//
//  Created by Daiuno on 2025/5/10.
//  Copyright © 2025 Manic EMU. All rights reserved.
//
// SPDX-License-Identifier: AGPL-3.0-or-later

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ManicEmu/Pods-ManicEmu.sideloaddebug.xcconfig"
#include "ManicEmu/Resources/Config-Base.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS[config=SideloadDebug] = $(inherited) CRASH_COLLECT=1
